* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    position: relative;
}

.navbar {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 99999;
}

.navbar .logo {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}

.navbar .logo img {
    width: 80px;
    height: 60px;
}

.navbar .logo span {
    color: red;
}

.navbar .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .head i {
    display: none;
    color: white;
    font-size: 20px;
}

.navbar .nav ul {
    display: flex;
}

.navbar .nav ul li {
    margin: 0 20px;
    font-size: 20px;
}

.navbar .nav ul li a {
    color: white;
    transition: all 0.5s;
}

.navbar .nav ul li a:hover {
    color: rgba(255, 255, 255, 0.5);
}


.home {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8)), url('image/h2.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.home h2 {
    color: white;
    font-size: 80px;
}

.footer {
    display: table;
    padding: 40px 50px;
    color: white;
    background-color: black;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer .f1 {
    display: table-cell;
    width: 49%;
}

.footer .f1 .fs1 {
    display: flex;
    align-items: center;
}

.footer .f1 .fs1 img {
    width: 40px;
}

.footer .f1 .fs1 h1 {
    font-size: 25px;
}

.footer .f1 input {
    width: 350px;
    padding: 10px 15px;
    border-radius: 8px;
    border: 0;
    outline: 0;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}

.footer .f1 button {
    padding: 10px 15px;
    border-radius: 8px;
    border: 0;
    outline: 0;
    transition: all 0.5s;
}

.footer .f1 button:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.footer .f1 p {
    font-size: x-large;
    padding: 15px 0;
    color: rgba(255, 255, 255, 0.6);
}

.footer .f1 span {
    text-decoration: underline;
}

.footer .f2 {
    display: table-cell;
    text-align: left;
    width: 24%;
}

.footer .f2,
.f3,
.f4 {
    font-size: x-large;
}

.footer .f2 h3 {
    padding: 10px 0;
}

.footer .f2 li {
    padding: 8px 0;
    color: rgba(255, 255, 255, 0.6);
}

.footer .f2 li:hover {
    color: white;
}

.footer .f3 {
    display: table-cell;
    text-align: left;
    width: 24%;
}

.footer .f3 h3 {
    padding: 10px 0;
}

.footer .f3 li {
    padding: 8px 0;
    color: rgba(255, 255, 255, 0.6);
}

.footer .f3 li:hover {
    color: white;
}

.footer .f3 li a{
    color: rgba(255, 255, 255, 0.6);
}

.footer .f3 li:hover a{
    color: white;
}

.footer .f4 {
    display: table-cell;
    text-align: left;
    width: 24%;
}

.footer .f4 h3 {
    padding: 10px 0;
}

.footer .f4 li {
    padding: 8px 0;
    color: rgba(255, 255, 255, 0.6);
}

.footer .f4 li:hover {
    color: white;
}

.footer .f4 li a{
    color: rgba(255, 255, 255, 0.6);
}

.footer .f4 li:hover a{
    color: white;
}

.flast {
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: rgba(255, 255, 255, 0.6);
}

.flast .ff {
    display: flex;
}

.flast .ff li {
    padding: 0 10px;
}

.flast .ff li:hover {
    color: white;
}

.flast .ff li a{
    color: rgba(255, 255, 255, 0.6);
}

.flast .ff li:hover a{
    color: white;
}

.quote1 {
    padding: 30px 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 150px;
}

.quote1 h1 {
    font-family: 'Times New Roman', Times, serif;
}

.quote1 p {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    color: red;
}

.quote1 .q1img {
    width: 300px;
    overflow: hidden;
    border-radius: 50%;
}

.quote1 .q1img img {
    width: 100%;
    transform: scale(1.2);
    transition: all 0.5s;
}

.quote1 .q1img:hover img {
    transform: scale(1);
}

.ab1 {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url('image/ab2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
}

.ab1 h1 {
    color: white;
    padding: 0 350px;
    font-size: 50px;
    padding-top: 80px;
}

.ab2 {
    padding: 40px 50px;
    text-align: center;
    background-color: black;
}

.ab2 h1 {
    color: red;
    padding-bottom: 15px;
}

.ab2 p {
    width: 70%;
    justify-self: center;
    font-size: 18px;
    color: white;
}

.ab3 {
    padding: 40px 50px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
}

.ab3 .ab33 {
    padding-left: 170px;
}

.ab3 .ab33 h2 {
    text-align: center;
    color: red;
    padding-bottom: 30px;
}

.ab3 .ab33 p {
    text-align: justify;
    color: white;
}

.ab3 .abb {
    padding-left: 120px;
}

.ab3 img {
    width: 300px;
}

.ab4 {
    padding: 40px 50px;
    background-color: black;
    color: white;
}

.ab44 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ab4 h2 {
    text-align: center;
    color: red;
    padding-bottom: 20px;
}

.ab44 .box {
    width: 400px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.ab44 .abm {
    width: 400px;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    z-index: 1;
    transition: all 0.5s;
}

.ab44 .box:hover .abm {
    transform: translateY(-120%);
}

.fix {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 90%;
    right: 2%;
    font-size: 18px;
    border-radius: 10px;
    display: none;
    transition: all 1s;
    cursor: pointer;
}

.app{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    padding-left: 250px;
    padding-right: 250px
}

.app .a1 img{
    width: 450px;
}

.app .a2 .book{
    width: 400px;
    height: 450px;
    border: 1px solid red;
    box-shadow: 0 0 1rem red;
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
}

.a2 .book .book1{
    width: 100%;
}

.app .a2 .book h1{
    color: white;
    padding-bottom: 20px;
}

.app .a2 .book input{
    width: 100%;
    padding: 10px 15px;
    margin: 15px 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.app .a2 .book input::placeholder{
    color: black;
}

.app .a2 .book button{
    padding: 10px 15px;
    border-radius: 20px;
    background-color: peachpuff;
}

.app .a2 .book button:hover{
    background-color: white;
    color: red;
}

.boxshadow{
    border: 1px solid red !important;
    box-shadow: 0 0 1rem white !important;
}

#greet{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: white;
    position: absolute;
    z-index: -1;
    top: 0%;
    right: 0%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all 0.3s;
}

.thank{
    width: 400px;
    height: 320px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.thank img{
    width: 200px;
}

.blog{
	background-color: black;
	padding-left: 140px;
	padding-right: 140px;
	padding-top: 140px;
    padding-bottom: 80px;
}

.blog .bg1{
	display: flex;
	flex-wrap: wrap;
}

.blog .bg1 .bg{
	width: 30%;
	overflow: hidden;
	border: 1px solid red;
	border-radius: 15px;
	background-color: black;
	margin: 20px;
}

.blog .bg1 .bg:hover{
    box-shadow: 0 0 1rem white;
}

.blog .bg1 .bg .bgimg{
	width: 100%;
	height: 350px;
	overflow: hidden;
}

.blog .bg1 .bg img{
	width: 100%;
	transform: scale(1.2);
	transition: all 0.5s;
}

.blog .bg1 .bg:hover img{
	transform: scale(1);
}

.blog .bg1 .bg .bgpara{
	padding: 10px;
	color: white;
    background-color: rgba(255, 255, 255, 0.2)
}

.blog .bg1 .bg .bgpara h2{
	padding: 10px 0;
	color: white;
}

.blog .bg1 .bg .bgpara h2 a{
	color: red;
}

.blog .bg1 .bg .bgi{
	display: flex;
	justify-content: space-between;
}

.service{
	background-color: black;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 140px;
    padding-bottom: 80px;
    display: flex;
}

.service .ser1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.service .ser1 img{
    width: 300px;
}

.service .ser2{
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
}

.service .ser2 .s1{
    width: 280px;
    height: 280px;
    border: 1px solid white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    transform: scale(0.9);
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.2);
}

.service .ser2 .s1:hover{
    transform: scale(1);
    box-shadow: 0 0 1rem red;
}

.service .ser2 .s1 h3{
    color: red;
    padding-bottom: 15px;
}

.service .ser2 .s1 p{
    color: white;
}

.contact{
	background-color: rgba(0, 0, 0, 0.6);
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 160px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .contact1{
    width: 600px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
}

.contact .contact1 .c1{
    padding: 100px;
}

.contact .contact1 .c2{
    padding: 75px 60px;
}

.contact .contact1 .c2 p{
    padding-bottom: 10px;
}

.contact .contact1 .c2 .c2para input,textarea{
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
}

.contact .contact1 .c2 .c2para button{
    padding: 10px 15px;
    margin: 10px 0;
    background-color: red;
    border-radius: 20px;
    color: white;
    border: 0;
}

.part2{
    width: 300px;
    background-color: peachpuff;
    padding: 30px;
    position: absolute;
    top: 19%;
    left: 21%;
    background-color: black;
    color: white;
}

.part2 h2{
    padding: 10px 0;
    color: red;
}

.part2 .p1,.p2,.p3,.p4{
    display: flex;
    padding: 15px 0;
}

.part2 p{
    padding: 0 10px;
    font-size: 18px;
}

.part2 p:hover{
    color: rgba(255, 255, 255, 0.6);
}

.part2 .p4{
    justify-content: space-around;
    margin: 10px 0;
}

.part2 i{
    font-size: 20px;
}

.part2 p a{
    color: white;
}

.part2 p a:hover{
    color: rgba(255, 255, 255, 0.6);
}

















@media screen and (max-width: 700px) {
    * {
        font-size: 14px;
    }

    .navbar {
        display: block;
        padding: 20px;
        text-align: center;
    }

    .navbar .head {
        justify-content: space-between;
        flex-direction: row;
    }

    .navbar .head i {
        display: block;
        cursor: pointer;
    }

    .navbar .nav {
        display: none;
        width: 100%;
    }

    .navbar .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar .show {
        display: block;
        z-index: 100;
    }

    .navbar .nav ul li {
        margin: 10px 0;
    }

    .home h2 {
        font-size: 30px;
        text-align: center;
        padding: 0 10px;
    }

    .quote1 {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .quote1 .q1img {
        width: 200px;
        margin: 20px 0;
    }

    .ab1 h1 {
        padding: 0 30px;
        font-size: 30px;
        text-align: center;
    }

    .ab2 p {
        width: 100%;
    }

    .ab3 {
        flex-direction: column;
        padding: 20px;
    }

    .ab3 .ab33, .ab3 .abb {
        padding: 20px;
    }

    .ab3 img {
        width: 200px;
        margin-top: 20px;
    }

    .ab44 .box {
        width: 90%;
    }

    .app {
        flex-direction: column;
        padding: 150px 20px 50px;
    }

    .app .a1 img {
        width: 100%;
        margin-bottom: 30px;
    }

    .app .a2 .book {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .blog {
        padding: 100px 20px 60px;
    }

    .blog .bg1 .bg {
        width: 100%;
    }

    .service {
        flex-direction: column;
        padding: 100px 20px 60px;
    }

    .service .ser1 img {
        width: 80%;
        margin: 0 auto 20px;
    }

    .service .ser2 {
        padding: 0;
        justify-content: center;
    }

    .contact {
        flex-direction: column;
        padding: 100px 20px;
    }

    .contact .contact1 {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .contact .contact1 .c1, .contact .contact1 .c2 {
        padding: 20px;
    }

    .footer {
        flex-direction: column;
        padding: 30px 20px;
    }

    .footer > div {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .flast {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .flast .ff {
        flex-wrap: wrap;
        justify-content: center;
    }

    .part2 {
        position: static;
        width: 90%;
        margin: 20px auto;
        padding: 20px;
    }

    /* HOME */
    .home {
        background-size: cover;
        background-position: center;
        padding: 20px;
    }

    .home h2 {
        font-size: 35px;
        text-align: center;
    }

    /* FOOTER */
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        text-align: center;
    }

    .footer .f1,
    .footer .f2,
    .footer .f3,
    .footer .f4 {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer .f1 input {
        width: 100%;
    }

    /* ABOUT SECTION */
    .ab1 {
        height: auto;
        padding: 40px 20px;
        justify-content: center;
        text-align: center;
    }

    .ab1 h1 {
        padding: 0;
        font-size: 30px;
    }

    .ab2 p {
        width: 100%;
    }

    .ab3 {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .ab3 .ab33,
    .ab3 .abb {
        padding: 0;
    }

    .ab3 img {
        width: 100%;
        max-width: 300px;
    }

    .ab44 .box {
        width: 100%;
    }

    .app {
        flex-direction: column;
        padding: 100px 20px 40px 20px;
        align-items: center;
        height: 1000px;
    }

    .app .a1 img {
        width: 100%;
        max-width: 300px;
    }

    .app .a2 .book {
        width: 100%;
        max-width: 400px;
    }

    .quote1 {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .quote1 .q1img {
        margin-top: 20px;
    }

}


